
Angular/pipes/.browserslistrc
Angular/pipes/.editorconfig
Angular/pipes/angular.json
*.json
HTML,Css,Bootstrap/practise/psuedoclass.html
HTML,Css,Bootstrap/practise/practisebootstrap.html
HTML,Css,Bootstrap/practise/practise1.html
HTML,Css,Bootstrap/practise/practise2.html
HTML,Css,Bootstrap/practise/mediahome.html
HTML,Css,Bootstrap/practise/mediaqueries.html
HTML,Css,Bootstrap/practise/mediacontact.html
*.html
*.log
*.webp
*.css
*.ts
*.ico
*.js
Angular/pipes/README.md
Angular/pipes/src/assets/.gitkeep
