<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>com.motivity.Empcontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>first</servlet-name>
 <url-pattern>/employee</url-pattern>
 </servlet-mapping>
 
   <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>com.motivity.Dedcontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>second</servlet-name>
 <url-pattern>/deduction</url-pattern>
 </servlet-mapping>
 
    <servlet>
  <servlet-name>Third</servlet-name>
  <servlet-class>com.motivity.Depcontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>Third</servlet-name>
 <url-pattern>/department</url-pattern>
 </servlet-mapping>
 
     <servlet>
  <servlet-name>Fourth</servlet-name>
  <servlet-class>com.motivity.Desgcontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>Fourth</servlet-name>
 <url-pattern>/designation</url-pattern>
 </servlet-mapping>
 
  <servlet>
  <servlet-name>Fifth</servlet-name>
  <servlet-class>com.motivity.Gradecontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>Fifth</servlet-name>
 <url-pattern>/grade</url-pattern>
 </servlet-mapping>
 
   <servlet>
  <servlet-name>sixth</servlet-name>
  <servlet-class>com.motivity.Admincontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>sixth</servlet-name>
 <url-pattern>/admin_registration</url-pattern>
 </servlet-mapping>
 
    <servlet>
  <servlet-name>seventh</servlet-name>
  <servlet-class>com.motivity.Adminlogincontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>seventh</servlet-name>
 <url-pattern>/admin_login</url-pattern>
 </servlet-mapping>
 
     <servlet>
  <servlet-name>eight</servlet-name>
  <servlet-class>com.motivity.Emp_profile_updatecontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>eight</servlet-name>
 <url-pattern>/emp_profile_update</url-pattern>
 </servlet-mapping>
 
   <servlet>
  <servlet-name>ninth</servlet-name>
  <servlet-class>com.motivity.Grade_updatecontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>ninth</servlet-name>
 <url-pattern>/grade_update</url-pattern>
 </servlet-mapping>
 
    <servlet>
  <servlet-name>tenth</servlet-name>
  <servlet-class>com.motivity.Department_updatecontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>tenth</servlet-name>
 <url-pattern>/department_update</url-pattern>
 </servlet-mapping>
 
     <servlet>
  <servlet-name>eleventh</servlet-name>
  <servlet-class>com.motivity.Designationwise_updatecontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>eleventh</servlet-name>
 <url-pattern>/designationwise_update</url-pattern>
 </servlet-mapping>
 
      <servlet>
  <servlet-name>Twelve</servlet-name>
  <servlet-class>com.motivity.Emplogincontroller</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>Twelve</servlet-name>
 <url-pattern>/emp_login</url-pattern>
 </servlet-mapping>
</web-app>