<?xml version="1.0" encoding="UTF-8"?>
<web-app >
<servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>com.mvc.RegistrationController</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>first</servlet-name>
 <url-pattern>/manager_registration</url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name>second</servlet-name>
 <servlet-class>com.mvc.LoginController</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>second</servlet-name>
 <url-pattern>/manager_login</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>third</servlet-name>
  <servlet-class>com.mvc.EmpregisterController</servlet-class>
  </servlet>

 <servlet-mapping>
 <servlet-name>third</servlet-name>
 <url-pattern>/emp_registration</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>fourth</servlet-name>
 <servlet-class>com.mvc.Elogincontroller</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>fourth</servlet-name>
 <url-pattern>/emp_login</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>fifth</servlet-name>
 <servlet-class>com.mvc.Apply_leaveapplicationcontroller</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>fifth</servlet-name>
 <url-pattern>/apply_leaveapplication</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>sixth</servlet-name>
 <servlet-class>com.mvc.Emp_profile_updatecontroller</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>sixth</servlet-name>
 <url-pattern>/emp_profile_update.jsp</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>seventh</servlet-name>
 <servlet-class>com.mvc.Manager_profile_updatecontroller</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>seventh</servlet-name>
 <url-pattern>/manager_profile_update</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>seventh</servlet-name>
 <servlet-class>com.mvc.Accept_leaveapplicationcontroller</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>seventh</servlet-name>
 <url-pattern>/accept_leaveapplication</url-pattern>
 </servlet-mapping>
 
 
 
</web-app>